.App {
  background-color: #000000;
  color: white;
  height: 1366px;
  padding: 95px;
  width: 768px;
}

.App-title {
	font-size: 64px;
	font-weight: bold;
  margin: 0px;
}

.App-logo {
  width: 578px;
}
